<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="base_datosEntities" connectionString="metadata=res://*/BuenosAiresEDM.csdl|res://*/BuenosAiresEDM.ssdl|res://*/BuenosAiresEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=base_datos;user id=sa;password=123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
 <system.serviceModel>
  <behaviors>
   <serviceBehaviors>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
  <services>
   <service name="BuenosAires.BodegaBA.ScGuiaDespacho">
    <endpoint address="" binding="basicHttpBinding" contract="BuenosAires.BodegaBA.IScGuiaDespacho">
     <identity>
      <dns value="localhost" />
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:8733/Design_Time_Addresses/BuenosAires.BodegaBA/ScGuiaDespacho/" />
     </baseAddresses>
    </host>
   </service>
  </services>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IWsAutenticacion" />
    <binding name="BasicHttpBinding_IWsProducto" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:54096/WsAutenticacion.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion"
    contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion" />
   <endpoint address="http://localhost:54096/WsProducto.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IWsProducto" contract="WsProductoReference.IWsProducto"
    name="BasicHttpBinding_IWsProducto" />
  </client>
 </system.serviceModel>
</configuration>